@import "../../app.component.scss";

.icon-wrapper {
  width:40px;
  line-height:45px;
  font-size:40px;
  color:#000;
  background:#fff;
  transition: .25s all ease-in-out;
  cursor: pointer;
  & :hover {
    opacity: .6;
  }
  i {
    font-size:30px;
  }
}
app-todo-input {
  width:100%;
}