<div class="todo-item d-flex justify-content-between align-item-center" (mouseover)="isHovered = true"
  (mouseout)="isHovered = false">
  <div class="todo d-flex align-item-center">
    <input type="checkbox" [ngClass]="{'checked': todo.isCompleted}" [id]="todo.id" class="toggle text-center"
      [checked]="todo.isCompleted" (change)="changeTodoStatus()">
    <label [@fadeStrikeThrough]="todo.isCompleted ? 'completed' : 'active' " [for]="todo.id">{{todo.content}}</label>
  </div>
  <div class="d-flex align-item-center justify-content-between icon-wrapper">
    <span class="icon-editing text-center" [ngClass]="{'active': isHovered}" [hidden]="todo.isCompleted">
      <i class="eva eva-edit-outline" (click)="isEditing = true"></i>
    </span>
    <span class="icon-editing text-center delete" [ngClass]="{'active': isHovered}" (click)="deleteTodo()">
      <i class="eva eva-close"></i>
    </span>
  </div>
  <form *ngIf="isEditing" class="edit-form" (keyup.enter)="submitEdit($event)">
    <input type="text" name="form-edit-todo" [(ngModel)]="todo.content">
  </form>
</div>